<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>giangvt.filter.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>giangvt.listner.ContextListner</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>giangvt.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCakeServlet</servlet-name>
        <servlet-class>giangvt.servlet.SearchCakeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>giangvt.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeNextPageServlet</servlet-name>
        <servlet-class>giangvt.servlet.ChangeNextPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePrePageServlet</servlet-name>
        <servlet-class>giangvt.servlet.ChangePrePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoToSearchServlet</servlet-name>
        <servlet-class>giangvt.servlet.GoToSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDetailServlet</servlet-name>
        <servlet-class>giangvt.servlet.ShowDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCakeServlet</servlet-name>
        <servlet-class>giangvt.servlet.UpdateCakeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoToCreateServlet</servlet-name>
        <servlet-class>giangvt.servlet.GoToCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewCakeServlet</servlet-name>
        <servlet-class>giangvt.servlet.CreateNewCakeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>giangvt.servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>giangvt.servlet.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCakeServlet</servlet-name>
        <servlet-class>giangvt.servlet.DeleteCakeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubtractCakeServlet</servlet-name>
        <servlet-class>giangvt.servlet.SubtractCakeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackOrderServlet</servlet-name>
        <servlet-class>giangvt.servlet.TrackOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <servlet-class>giangvt.servlet.LoginGoogleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCakeServlet</servlet-name>
        <url-pattern>/SearchCakeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeNextPageServlet</servlet-name>
        <url-pattern>/ChangeNextPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePrePageServlet</servlet-name>
        <url-pattern>/ChangePrePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoToSearchServlet</servlet-name>
        <url-pattern>/GoToSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDetailServlet</servlet-name>
        <url-pattern>/ShowDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCakeServlet</servlet-name>
        <url-pattern>/UpdateCakeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoToCreateServlet</servlet-name>
        <url-pattern>/GoToCreateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewCakeServlet</servlet-name>
        <url-pattern>/CreateNewCakeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCakeServlet</servlet-name>
        <url-pattern>/DeleteCakeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubtractCakeServlet</servlet-name>
        <url-pattern>/SubtractCakeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackOrderServlet</servlet-name>
        <url-pattern>/TrackOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <url-pattern>/LoginGoogleServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <resource-ref>
        <res-ref-name>DS007</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <display-name>Log4jWebDemo1</display-name>
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF\log4j.properties</param-value>
    </context-param>
</web-app>
